img {
  object-fit: contain;
  max-width: 100%;
}

.primary-image {
  height: 300px;
}

.images {
  height: 150px;
}

.activeLink {
  color: #0d6efd !important;
}

.cartNumber {
  background-color: RGBA(220, 53, 69, var(--bs-bg-opacity, 1));
  font-size: .6rem;
  font-weight: 700;
  color: #fff;
  border-radius: 50%;
  padding: 1px 5px;
  position: absolute;
  top: 2px;
  right: 9px;

}